div.portofolioLineGraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 700px;
    margin-right: 10px;
}

div.graph-container {
    width: 600px;
    height: 490px;
    /* box-shadow: rgba(50, 50, 93, 0.25) -9px 6px 12px -8px, rgba(0, 0, 0, 0.3) 0px 3px 10px -3px; */
    font-family: 'Amiko', sans-serif;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-bottom: 70px;
}

div.page-container {
    display: flex;
    justify-content: space-around;
}

div.listStocks {
    margin-right: 12%;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
