div.portofolioLineGraph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* width: 60%; */
    margin: 30px 270px 0 0 ;
    /* margin-right: 10px; */
}

div.graph-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 700px;
    height: 400px;
    /* box-shadow: rgba(50, 50, 93, 0.25) -9px 6px 12px -8px, rgba(0, 0, 0, 0.3) 0px 3px 10px -3px; */
    font-family: 'Amiko', sans-serif;
    padding: 0 0 0 30px;
}


a {
    font-size: 12pt;
    color: dodgerblue;
    text-decoration: none;
}

a.chart-button.override {
    margin-right: 15px;
    align-self: center;
    width: 90px;
}
div.headerContainer {
    display: flex;
}

div.pie-container {
    width: 700px;
    /* height: 400px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) -9px 6px 12px -8px, rgba(0, 0, 0, 0.3) 0px 3px 10px -3px; */
    font-family: 'Amiko', sans-serif;
    padding: 0 0 0 30px;
}

div.page-container-upper {
    display: flex;
    justify-content: space-around;
    height: 440px;
}

.list-stocks {
    position: fixed;
    top: 65px;
    right: 90px;
}

div.listStocks {
    margin: 10px 0 30px 0;
}

div.portfolio_change___dollar {
    margin-right: 5px;
}

div.portfolio_change___dollar.negative,
div.portfolio_change___percentage.negative {
    color: #C63641;
}

div.portfolio_change___dollar.positive,
div.portfolio_change___percentage.positive {
    color: #AFC23F;
}
