div.company-line-graph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 60%; */
    margin: 30px 270px 0 0 ;
}

div.company-stock-side-bar {
    position: fixed;
    top: 75px;
    right: 90px;
    color: #5a6571;
}

div.side-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    width: 220px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    padding: 10px 10px 15px 10px;
    font-family: 'DM Sans', sans-serif;
}

div.side-bar-container > * > * {
    width: 100%;
}

div.side-bar-container > .header {
    margin: 0px 0 0 10px;
    font-weight: 700;
    color: #5a6571;
    font-size: 1.3em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 200px;
    border-bottom: 1px solid lightgray;
}

div.purchase-details {
    width: 100%;
    font-size: 15px;
}

div.purchase-details > .shares {
    height: 40px;
    margin-top: 20px;
}

.title {
    margin-left: 12px;
}

.value {
    margin-right: 12px;
}

div.purchase-details > * {
    margin: 10px 0;
}

div.side-bar-container .flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.side-bar-container > .purchase-details > .hr {
    border-bottom: 1px solid lightgray;
    width: 90%;
    margin: 10px auto;
}

button.purchase__btn,
button.sell__btn {
    background-color: #AFC23F;
}

.watch-list > button.remove_watchlist {
    background-color: #C63641;
}

button.remove_watchlist,
button.add_to_watchlist,
button.purchase__btn,
button.sell__btn {
    width: 140px;
    cursor: pointer;
}

.purchase-details .shares-input > input:focus,
button.remove_watchlist:focus,
button.add_to_watchlist:focus,
button.purchase__btn:focus,
button.sell__btn:focus {
    outline: none;
}

button.purchase__btn:disabled {
    cursor: not-allowed;
}

.interactions {
    width: 100%;
    font-size: 15px;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    display: flex;
    flex-direction: column;
}


.interactions > .purchase,
.interactions > .buying-power,
.interactions > .watch-list,
.interactions > .sell-stock {
    /* height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}

.side-bar-container > .interactions > .invisible {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0;
    visibility: hidden;
    height: 0px;
    opacity: 0;
    transition: margin .4s, visibility 3s, height .4s linear, opacity .2s linear;
}

.interactions > .sell-stock {
    visibility: visible;
    height: 100%;
    opacity: 1;
    transition: margin .4s, visibility .4s, height .4s linear, opacity .2s linear;
}

.interactions .buying-power {
    display: flex;
    align-items: center;
    color: #AFC23F;
    font-size: 16.5px;
}

.purchase-details .shares-input > input {
    width: 40px;
    background-color: initial;
    border: 1px solid lightgray;
    padding-left: 5px;
}

.buying_power__number {
    margin-right: 5px;
}
