div.nav-container {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
    right: 0;
    border-bottom: 1px solid lightgray;
    padding: 3px 0 0 0;
}

div.home-icon, .profile-icon {
    font-size: 20pt;
    background-color: white;
    color: rgb(0, 78, 171);
    border: slategray;
    border-radius: 10%;
}


div.home-icon {
    margin-left: 20px;
}

a, .profile-icon {
    margin-right: 20px;
    display: flex;
    align-items: center;
    width: 40px;
}

.profile-drop {
    position: absolute;
    right: 55px;
    top: 26px;
    padding: 0;
    background-color: rgb(230, 230, 230);
    border: 1px solid lightgray;
    opacity: 1;
}

li {
    list-style-type: none;
    font-size: 12px;
    border: none;
    font-family: 'DM Sans', sans-serif;
    color: slategray;
    margin: 10px;
}

.logout {
    cursor: pointer;
}
